<!DOCTYPE html>
<html>
	<head>
		<title>Go Kart</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<h1>Go Kart</h1>
		<div id="frame-container"></div>

		<script>
			// Connect to the SocketIO server
			var socket = io.connect("http://localhost:5000");

			// Handle the 'frame' event to display the frame on the frontend
			socket.on("frame", function (frameData) {
				var img = new Image();
				img.src = "data:image/jpeg;base64," + frameData;

				// Display the frame in the frame-container element
				$("#frame-container").html(img);
			});
		</script>
	</body>
</html>
