@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
    height: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  /* number of lines to show */
  line-clamp: 8;
  -webkit-box-orient: vertical;
}

.breath {
  animation: breath 0.6s linear infinite alternate-reverse;
}

@keyframes breath {
  0% {
    opacity: 30%;
  }

  100% {
    opacity: 10%;
  }
}

.loader {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #275f85;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-grid {
  grid-template-rows: auto auto 1fr;
}

.custom-grid-drivers-container {
  grid-template-rows: 32px 1fr;
}

.custom-clip-path {
  clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
}

.octa-btn {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}