@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
    body {
        overflow: hidden;
        height: 100vh;
    }

    ;
}

.max-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;
}